<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <httpRuntime maxRequestLength="1048576" />
    </system.web>
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\AutoFix.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" />
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1048576000" />
        </requestFiltering>
      </security>
    </system.webServer>
    <system.web.extensions>
      <scripting>
        <webServices>
          <jsonSerialization maxJsonLength="50000000" />
        </webServices>
      </scripting>
    </system.web.extensions>
  </location>
</configuration>
